body {
    /*background-image: url('./picture/WhatsApp Image 2023-05-11 at 16.26.21.jpeg'); */
    display: flex;
    background-color: #FFD8BE;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}

/* Big box */
.main-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EBEBD2;
    box-shadow: 3px 4px 1px 0px rgba(49, 54, 56, 0.64);
    width: 500px;
    height: auto;
    padding-bottom: 20px;
}

.box-title {
    padding-left: 30px;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: -5px;
    color: #000000;
    font-weight: 400;
    text-decoration: underline solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: lowercase;
}
/* Separate lil divs */
.question-div {
    margin: 10px;
    width : 280px;
    height: 160px;
    background-color: #F2F4F3;
    border: #000000 solid 2px;
    padding-bottom: 10px;
}

/* Separate css for phase2 div*/
.question-div-phase1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width : 280px;
    height: 50px;
    background-color: #F2F4F3;
    border: #000000 solid 2px;
    padding-bottom: 10px;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width : 280px;
    height: 60px;
    background-color: #F2F4F3;
    border: #000000 solid 2px;
}

.question{
    margin: 10px;
    width : 280px;
    height: 60px;
    background-color: #F2F4F3;
    border: #000000 solid 2px;
}

button {
    font-family: 'courier new';
    font-weight: bold;
    color: #000000;
    font-size: 12px;
    text-shadow: 0px 0px 0px #191919;
    box-shadow: 1px 1px 1px #191919;
    padding: 5px;
    border-radius: 0px;
    border: 1px solid #191919;
    background: #F2F4F3;
    width: 50px;
    height: 25px;

  }

button:hover {
    color: #F2F4F3;
    background: #191919;

  }